.center {
    padding: 20px;
    position: fixed;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-align: center;
    z-index: 1;
    background: #191970;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -10;
    background: rgb(89,45,137);
    background: linear-gradient(135deg, rgb(25, 187, 66) 0%, rgb(29, 95, 209) 35%, rgb(177, 186, 202) 50%, rgba(42,46,53,1) 65%, rgba(236,12,142,1) 100%);
}